[submodule "backend"]
	path = backend
	url = https://github.com/Alikato-145/SA-Project-Backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/Alikato-145/SA-Project-Frontend.git
	branch = main
